{% extends "automated_summarizer/base.html" %}

{% block about_nav %}<li role="presentation" class="active"><a href="{% url 'about' %}">About</a></li>{% endblock %}

{% block content %}

<h2>About this site:</h2>
This site eww.la proposes solutions to make people understand the fine print (ie TOS, EULA, legal documents) before accepting them. "eww-la" is a pun on word "EULA".
<br /><br />
This website was made as a part of <a href="https://koding.com/Hackathon">Koding's Hackathon</a>.
<br /><br />
{% endblock %}