{% extends "automated_summarizer/base.html" %}

{% block contact_nav %}<li role="presentation" class="active"><a href="{% url 'contact' %}">Contact</a></li>{% endblock %}

{% block content %}
<h2>Contact over email:</h2>
<a href="http://www.google.com/recaptcha/mailhide/d?k=01ASY18t1qhWFaPZYjlOL5XQ==&amp;c=ZMXoyybL23W5dGrsjS7px1Orrq3XdS7SbW9kYn3Kjvk=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501ASY18t1qhWFaPZYjlOL5XQ\75\75\46c\75ZMXoyybL23W5dGrsjS7px1Orrq3XdS7SbW9kYn3Kjvk\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">n...</a>@gmail.com
<br/ ><br />
{% endblock %}